Django
django-ckeditor
django-crispy-forms
django-filter
django-js-asset
django-leaflet
django-nose
django-storages
docutils
gunicorn
nose
nosedjango
Pillow
python-dateutil
python-decouple
requests
slugify
whitenoise
gunicorn
psycopg2-binary
django-storages[google]
django-environ
