Django
django-ckeditor
django-crispy-forms
django-filter
django-js-asset
django-leaflet
django-nose
django-storages
docutils
gunicorn
mysqlclient
nose
nosedjango
Pillow
python-dateutil
python-decouple
requests
slugify
whitenoise